.dev
{
    background-color: var(--main-color2);
    padding: 15px;
    border: 1px solid var(--main-bg-color);
    box-shadow: 0px 0px 10px var(--second-color2);
}

.dev img
{
    height: 100%;
    width: 100%;
    border: 1px solid var(--main-bg-color);
}

a
{
    border: 1px solid var(--main-bg-color);
}

.dev .desc
{
    font-size: 20px;
}

.btn
{
    background-color:var(--main-color2);
}

textarea
{
    resize: none;
}