<nav  class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">Project name</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div  class=" collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active forAct">Home</a>
            </li>

            <li class="nav-item">
                <a id="mesg" class="nav-link d-none" routerLink="/message" routerLinkActive="active forAct">message</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active forAct">About Us/Contact</a>
            </li>

        </ul>

        <ul id="regLog" class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link pointer" (click)="signInWithFB()">register with <i class="fab fa-facebook-square "></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link pointer" (click)="signInWithFB()">Login with <i class="fab fa-facebook-square "></i></a>
            </li>
        </ul>
        
        <div id="user" class="d-none">
            
        </div>


    </div>
</nav>



